body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:479px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u272 {
  position:absolute;
  left:100px;
  top:21px;
  width:320px;
  height:479px;
}
#u273 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u274 {
  position:absolute;
  left:102px;
  top:71px;
  width:317px;
  height:35px;
}
#u275 {
  position:absolute;
  left:2px;
  top:10px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(46, 197, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u276 {
  position:absolute;
  left:100px;
  top:22px;
  width:320px;
  height:38px;
}
#u277 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u278 {
  position:absolute;
  left:110px;
  top:33px;
  width:13px;
  height:17px;
}
#u279 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u280 {
  position:absolute;
  left:133px;
  top:35px;
  width:157px;
  height:17px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u282 {
  position:absolute;
  left:118px;
  top:82px;
  width:85px;
  height:17px;
  color:#666666;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u284 {
  position:absolute;
  left:248px;
  top:134px;
  width:19px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u286 {
  position:absolute;
  left:338px;
  top:81px;
  width:43px;
  height:17px;
  color:#666666;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u288 {
  position:absolute;
  left:394px;
  top:81px;
  width:10px;
  height:15px;
}
#u289 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u290 {
  position:absolute;
  left:420px;
  top:130px;
  width:150px;
  height:22px;
}
#u291 {
  position:absolute;
  left:2px;
  top:3px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u292 {
  position:absolute;
  left:580px;
  top:117px;
  width:340px;
  height:47px;
  font-size:28px;
  color:#666666;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u294 {
  position:absolute;
  left:424px;
  top:288px;
  width:150px;
  height:22px;
}
#u295 {
  position:absolute;
  left:2px;
  top:3px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u296 {
  position:absolute;
  left:584px;
  top:275px;
  width:326px;
  height:47px;
  font-size:18px;
  color:#666666;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u298 {
  position:absolute;
  left:113px;
  top:235px;
  width:300px;
  height:120px;
  font-size:12px;
}
#u299 {
  position:absolute;
  left:2px;
  top:52px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  position:absolute;
  left:115px;
  top:263px;
  width:300px;
  height:1px;
}
#u301 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u302 {
  position:absolute;
  left:116px;
  top:243px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u303 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  position:absolute;
  left:125px;
  top:272px;
  width:275px;
  height:50px;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u306 {
  position:absolute;
  left:370px;
  top:35px;
  width:117px;
  height:17px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
