body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:479px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u521 {
  position:absolute;
  left:100px;
  top:21px;
  width:320px;
  height:479px;
}
#u522 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(46, 197, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u523 {
  position:absolute;
  left:100px;
  top:22px;
  width:320px;
  height:38px;
}
#u524 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u525 {
  position:absolute;
  left:110px;
  top:33px;
  width:13px;
  height:17px;
}
#u526 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u527 {
  position:absolute;
  left:134px;
  top:34px;
  width:157px;
  height:17px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u529 {
  position:absolute;
  left:110px;
  top:70px;
  width:300px;
  height:420px;
}
#u530 {
  position:absolute;
  left:2px;
  top:202px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u531 {
  position:absolute;
  left:120px;
  top:110px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u533 {
  position:absolute;
  left:330px;
  top:110px;
  width:70px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u534 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u535 {
  position:absolute;
  left:120px;
  top:176px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u536 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u537 {
  position:absolute;
  left:120px;
  top:143px;
  width:40px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u538 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u539 {
  position:absolute;
  left:282px;
  top:143px;
  width:100px;
  height:16px;
  color:#AEAEAE;
}
#u540 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u539_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u541 {
  position:absolute;
  left:348px;
  top:143px;
  width:100px;
  height:16px;
  color:#AEAEAE;
}
#u542 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u541_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u543 {
  position:absolute;
  left:320px;
  top:174px;
  width:85px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u544 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u545 {
  position:absolute;
  left:120px;
  top:278px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u546 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u547 {
  position:absolute;
  left:272px;
  top:276px;
  width:53px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u548 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u549 {
  position:absolute;
  left:338px;
  top:276px;
  width:120px;
  height:17px;
  color:#AEAEAE;
}
#u550 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u551 {
  position:absolute;
  left:316px;
  top:275px;
  width:20px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u552 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u553 {
  position:absolute;
  left:118px;
  top:244px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u554 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u555 {
  position:absolute;
  left:217px;
  top:245px;
  width:183px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u556 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u557 {
  position:absolute;
  left:321px;
  top:307px;
  width:120px;
  height:17px;
  color:#AEAEAE;
}
#u558 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u559 {
  position:absolute;
  left:118px;
  top:311px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u560 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u561 {
  position:absolute;
  left:120px;
  top:339px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u562 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u563 {
  position:absolute;
  left:281px;
  top:339px;
  width:120px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u564 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u565 {
  position:absolute;
  left:120px;
  top:370px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u566 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u567 {
  position:absolute;
  left:281px;
  top:372px;
  width:120px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u568 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u569 {
  position:absolute;
  left:125px;
  top:209px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u570 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u571 {
  position:absolute;
  left:252px;
  top:209px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u572 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u573 {
  position:absolute;
  left:364px;
  top:209px;
  width:28px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u574 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u575 {
  position:absolute;
  left:120px;
  top:76px;
  width:57px;
  height:17px;
  color:#5E5E5E;
}
#u576 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u577 {
  position:absolute;
  left:202px;
  top:76px;
  width:43px;
  height:17px;
  color:#AEAEAE;
}
#u578 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u579 {
  position:absolute;
  left:272px;
  top:76px;
  width:43px;
  height:17px;
  color:#AEAEAE;
}
#u580 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u581 {
  position:absolute;
  left:343px;
  top:76px;
  width:57px;
  height:17px;
  color:#AEAEAE;
}
#u582 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u583 {
  position:absolute;
  left:110px;
  top:99px;
  width:300px;
  height:1px;
}
#u584 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u585 {
  position:absolute;
  left:110px;
  top:132px;
  width:300px;
  height:1px;
}
#u586 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:3px;
  background:inherit;
  background-color:rgba(46, 197, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u587 {
  position:absolute;
  left:110px;
  top:97px;
  width:81px;
  height:3px;
}
#u588 {
  position:absolute;
  left:2px;
  top:-6px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  position:absolute;
  left:110px;
  top:164px;
  width:300px;
  height:1px;
}
#u590 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u591 {
  position:absolute;
  left:110px;
  top:197px;
  width:300px;
  height:1px;
}
#u592 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u593 {
  position:absolute;
  left:110px;
  top:231px;
  width:300px;
  height:1px;
}
#u594 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u595 {
  position:absolute;
  left:111px;
  top:267px;
  width:300px;
  height:1px;
}
#u596 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u597 {
  position:absolute;
  left:110px;
  top:300px;
  width:300px;
  height:1px;
}
#u598 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u599 {
  position:absolute;
  left:110px;
  top:331px;
  width:300px;
  height:1px;
}
#u600 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u601 {
  position:absolute;
  left:110px;
  top:361px;
  width:300px;
  height:1px;
}
#u602 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  position:absolute;
  left:110px;
  top:395px;
  width:300px;
  height:1px;
}
#u604 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u605 {
  position:absolute;
  left:377px;
  top:34px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u606 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
