body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:479px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:100px;
  top:21px;
  width:320px;
  height:479px;
}
#u70 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(46, 197, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:100px;
  top:22px;
  width:320px;
  height:38px;
}
#u72 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u73 {
  position:absolute;
  left:110px;
  top:33px;
  width:13px;
  height:17px;
}
#u74 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:133px;
  top:35px;
  width:157px;
  height:17px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:111px;
  top:68px;
  width:300px;
  height:420px;
}
#u78 {
  position:absolute;
  left:2px;
  top:202px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u79 {
  position:absolute;
  left:120px;
  top:79px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u81 {
  position:absolute;
  left:310px;
  top:79px;
  width:90px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u83 {
  position:absolute;
  left:120px;
  top:145px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u85 {
  position:absolute;
  left:120px;
  top:112px;
  width:40px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:287px;
  top:112px;
  width:100px;
  height:16px;
  color:#AEAEAE;
}
#u88 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u87_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u89 {
  position:absolute;
  left:353px;
  top:112px;
  width:100px;
  height:16px;
  color:#AEAEAE;
}
#u90 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u89_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u91 {
  position:absolute;
  left:317px;
  top:143px;
  width:85px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u93 {
  position:absolute;
  left:120px;
  top:247px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u95 {
  position:absolute;
  left:272px;
  top:245px;
  width:53px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u97 {
  position:absolute;
  left:338px;
  top:245px;
  width:120px;
  height:17px;
  color:#AEAEAE;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u99 {
  position:absolute;
  left:316px;
  top:244px;
  width:20px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u101 {
  position:absolute;
  left:118px;
  top:213px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u103 {
  position:absolute;
  left:217px;
  top:214px;
  width:183px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AEAEAE;
}
#u105 {
  position:absolute;
  left:314px;
  top:279px;
  width:120px;
  height:13px;
  font-size:11px;
  color:#AEAEAE;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u107 {
  position:absolute;
  left:118px;
  top:280px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u109 {
  position:absolute;
  left:120px;
  top:308px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u111 {
  position:absolute;
  left:279px;
  top:308px;
  width:120px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u113 {
  position:absolute;
  left:120px;
  top:339px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u115 {
  position:absolute;
  left:280px;
  top:341px;
  width:120px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u117 {
  position:absolute;
  left:133px;
  top:178px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u119 {
  position:absolute;
  left:252px;
  top:178px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u121 {
  position:absolute;
  left:364px;
  top:178px;
  width:28px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:110px;
  top:100px;
  width:300px;
  height:1px;
}
#u124 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  position:absolute;
  left:109px;
  top:135px;
  width:300px;
  height:1px;
}
#u126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:110px;
  top:168px;
  width:300px;
  height:1px;
}
#u128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:107px;
  top:199px;
  width:300px;
  height:1px;
}
#u130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:111px;
  top:236px;
  width:300px;
  height:1px;
}
#u132 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:109px;
  top:269px;
  width:300px;
  height:1px;
}
#u134 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:111px;
  top:301px;
  width:300px;
  height:1px;
}
#u136 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:111px;
  top:330px;
  width:300px;
  height:1px;
}
#u138 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  position:absolute;
  left:111px;
  top:364px;
  width:300px;
  height:1px;
}
#u140 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:361px;
  top:35px;
  width:117px;
  height:17px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
