body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:479px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  position:absolute;
  left:100px;
  top:21px;
  width:320px;
  height:479px;
}
#u651 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(46, 197, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  position:absolute;
  left:100px;
  top:22px;
  width:320px;
  height:38px;
}
#u653 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u654 {
  position:absolute;
  left:110px;
  top:33px;
  width:13px;
  height:17px;
}
#u655 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u656 {
  position:absolute;
  left:134px;
  top:34px;
  width:157px;
  height:17px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  position:absolute;
  left:110px;
  top:70px;
  width:300px;
  height:420px;
}
#u659 {
  position:absolute;
  left:2px;
  top:202px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u660 {
  position:absolute;
  left:120px;
  top:110px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u662 {
  position:absolute;
  left:326px;
  top:110px;
  width:70px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u664 {
  position:absolute;
  left:120px;
  top:176px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u666 {
  position:absolute;
  left:120px;
  top:143px;
  width:40px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u668 {
  position:absolute;
  left:282px;
  top:143px;
  width:100px;
  height:16px;
  color:#AEAEAE;
}
#u669 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u668_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u670 {
  position:absolute;
  left:348px;
  top:143px;
  width:100px;
  height:16px;
  color:#AEAEAE;
}
#u671 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u670_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u672 {
  position:absolute;
  left:306px;
  top:174px;
  width:85px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u674 {
  position:absolute;
  left:120px;
  top:278px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u676 {
  position:absolute;
  left:272px;
  top:276px;
  width:53px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u678 {
  position:absolute;
  left:333px;
  top:276px;
  width:120px;
  height:17px;
  color:#AEAEAE;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u680 {
  position:absolute;
  left:316px;
  top:275px;
  width:20px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u682 {
  position:absolute;
  left:118px;
  top:244px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u684 {
  position:absolute;
  left:211px;
  top:245px;
  width:183px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u686 {
  position:absolute;
  left:314px;
  top:307px;
  width:120px;
  height:17px;
  color:#AEAEAE;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u688 {
  position:absolute;
  left:118px;
  top:311px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u690 {
  position:absolute;
  left:120px;
  top:339px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:right;
}
#u692 {
  position:absolute;
  left:272px;
  top:339px;
  width:120px;
  height:17px;
  color:#AEAEAE;
  text-align:right;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u694 {
  position:absolute;
  left:125px;
  top:209px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u696 {
  position:absolute;
  left:252px;
  top:209px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u698 {
  position:absolute;
  left:364px;
  top:209px;
  width:28px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u700 {
  position:absolute;
  left:120px;
  top:76px;
  width:57px;
  height:17px;
  color:#5E5E5E;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u702 {
  position:absolute;
  left:202px;
  top:76px;
  width:43px;
  height:17px;
  color:#AEAEAE;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u704 {
  position:absolute;
  left:272px;
  top:76px;
  width:43px;
  height:17px;
  color:#AEAEAE;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u706 {
  position:absolute;
  left:343px;
  top:76px;
  width:57px;
  height:17px;
  color:#AEAEAE;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  position:absolute;
  left:110px;
  top:99px;
  width:300px;
  height:1px;
}
#u709 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710 {
  position:absolute;
  left:110px;
  top:132px;
  width:300px;
  height:1px;
}
#u711 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:3px;
  background:inherit;
  background-color:rgba(46, 197, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712 {
  position:absolute;
  left:110px;
  top:97px;
  width:81px;
  height:3px;
}
#u713 {
  position:absolute;
  left:2px;
  top:-6px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:110px;
  top:164px;
  width:300px;
  height:1px;
}
#u715 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716 {
  position:absolute;
  left:110px;
  top:197px;
  width:300px;
  height:1px;
}
#u717 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:110px;
  top:231px;
  width:300px;
  height:1px;
}
#u719 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  position:absolute;
  left:111px;
  top:267px;
  width:300px;
  height:1px;
}
#u721 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u722 {
  position:absolute;
  left:110px;
  top:300px;
  width:300px;
  height:1px;
}
#u723 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:110px;
  top:331px;
  width:300px;
  height:1px;
}
#u725 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u726 {
  position:absolute;
  left:110px;
  top:361px;
  width:300px;
  height:1px;
}
#u727 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:377px;
  top:34px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
