body{
    max-width:640px;
    margin: 0 auto;
    min-width: 320px;
    background-color: #eeeeee;
}


/*重新覆盖样式部分*/
/*header*/
.item-content,.content-block .button{
    -webkit-box-shadow:3px 3px 6px #999999;
    -moz-box-shadow:3px 3px 6px #999999;
    box-shadow:3px 3px 6px #999999;
}
.bar{
    background-color: #1A79EF;
    -webkit-box-shadow:0 3px 6px #999999;
    -moz-box-shadow:0 3px 6px #999999;
    box-shadow:0 3px 6px #999999;

}
.bar .button-link{
color: white;
}
header h1.title{
    color: white;
    font-weight: 800;
}

/*content*/
.content .content-padded h3.title{
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.content .content-padded h3.title .icon-down,.content .content-padded h3.title .icon-up{
    position: absolute;
    right: 0;

}
.content-padded-bgwhite{
    background-color: #ffffff;
    margin: 1rem auto .5rem;
}
.content-padded-bgwhite h3{
    color: #1A79EF;
}
/*input*/
.list-block{
    margin-top: .7rem;
}
.list-block input[type=text]{
    text-align: left;
}
.icon-right{
    padding-left: .1rem;
    color: #999999;
    font-size: .85rem;
}
.list-block ul{
    background-color: #eeeeee;
}
.list-block ul li{
    margin-bottom: .9rem;
}
.list-block .item-content{
    background-color: #ffffff;
}

/*button*/
.content-block .button{
    border: 1px solid #1A79EF;
    color: #ffffff;
    background-color: #1A79EF;
    font-weight: 700;
}

/*picker*/
.picker-modal{
    position: absolute;
    left:0;
    right: 0;

    max-width:640px;
    margin: 0 auto;
    min-width: 320px;
}
.picker-modal .bar{
    background-color: #ffffff;
}
.picker-modal .bar .button-link{
    color: #1A79EF;
}
.picker-item{
    font-size: .8rem;
}
.picker-item.picker-selected{
    color: #1A79EF;
    font-weight: 700;
}
.picker-center-highlight{
    background-color: #ffffff;
    z-index: -1;
}
p{
    margin: .5em 0;
}



